body {
    background-color: var(--color-1);
    color: var(--color-2);

    transition: all 0.6s ease-in-out;
}

/* INÃCIO DOBRA HEADER */

.nav-menu__container {
    height: 70px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, var(--color-1) 0%,  var(--color-1) 55%, rgba(0,0,0,0) 100%);
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

.nav-menu__logo-wrapper {
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu__itens {
    margin-right: 35px;    
}

.nav-menu__logo-wrapper__first-logo {
    height: 60px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 50%;
}

.nav-menu__logo-wrapper__second-logo {
    height: 25px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #ffffff;
}

.nav-menu__itens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu__itens > a {
    text-decoration: none;
    margin-right: 25px;
    color: var(--color-2);
    cursor: pointer;
    opacity: 0.9;
}

.nav-menu__itens > a:hover {
    opacity: 1;
}

.nav-menu__itens__contact-me-link {
    border: 2px solid var(--color-2);
    border-radius: 25px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 7px;
}

.nav-menu__itens__line {
    width: 100%;
    background-color: var(--color-2);
    height: 3px;
    border-radius: 3px;
}

.nav-menu__toggle-layout_mode {
    transition: all 0.4s ease-in-out;
  }

/* FIM DOBRA HEADER */

