body {
  background-color: var(--color-1);
  color: var(--color-2);

  transition: all 0.6s ease-in-out;
}

/* INÍCIO DOBRA HEADER */

.header {
  position: fixed;
  width: 100%;
  margin-bottom: 70px;
  top: 0;
  left: 0;
}

.nav-menu__container {
  height: 70px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    var(--color-1) 0%,
    var(--color-1) 55%,
    rgba(0, 0, 0, 0) 100%
  );
  padding-bottom: 20px;

  display: flex;
  justify-content: space-between;
}

.nav-menu__logo-wrapper {
  margin-left: 20px;
  cursor: pointer;

  opacity: 0.95;
  transition: all 0.6s ease-in-out;
}

.nav-menu__logo-wrapper:hover {
  transform: scale(1.05);
  transition: 0.6s ease-in-out;
}

.nav-menu__itens {
  margin-right: 35px;
}

.nav-menu__logo-wrapper__first-logo {
  height: 60px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.nav-menu__logo-wrapper__second-logo {
  height: 25px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #ffffff;
}

.nav-menu__itens {
  /*ul*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu__itens > li {
  margin-right: 25px;
  cursor: pointer;
  opacity: 0.7;
  list-style: none;

  /*--- DROP-DOWN-MENU PROPERTIES ---*/
  display: inline;
  position: relative;
}

.nav-menu__itens > li > a {
  text-decoration: none;
  color: var(--color-2);

  /*--- DROP-DOWN-MENU PROPERTIES ---*/
  display: block;
}

.nav-menu__itens > li:hover {
  opacity: 1;

  .nav-menu__itens__line {
    width: 100%;
  }
}

.nav-menu__itens > li:hover ul {
  /*--- DROP-DOWN-MENU PROPERTIES ---*/
  visibility: visible;
  height: 200px;
  margin-top: 10px;
}

.nav-menu__itens__line {
  width: 0%;
  background-color: var(--color-3);
  height: 3px;
  border-radius: 3px;
  transition: 0.08s ease-in;
}

.nav-menu__itens ul {
  width: 100px;
  background-color: var(--color-1);

  z-index: 30;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  /*--- DROP-DOWN-MENU PROPERTIES ---*/
  /* display: none; */
  visibility: hidden;
  position: absolute;
  left: 0;
  height: 0px;
}

.nav-menu__itens ul > li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10pt;
  border: 1px solid var(--color-2);
  list-style: none;
}

.nav-menu__itens ul > li > a {
  text-decoration: none;
  color: var(--color-2);
}

.nav-menu__itens__contact-me-link {
  border: 2px solid var(--color-2);
  border-radius: 25px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 7px;
  background-color: var(--color-1);
}

.nav-menu__toggle-layout_mode {
  opacity: 0.9;

  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.nav-menu__toggle-layout_mode:hover {
  opacity: 1;
}
/* FIM DOBRA HEADER */

/* INICIO DOBRA BACK-START ICON */
.back-start-icon__container {
  background-color: var(--color-1);
  border-radius: 50%;
  border: 3px solid var(--color-2);
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 60px;
  bottom: 60px;

  transition: 0.2s ease-in-out;
}

.back-start-icon__container img {
  width: 40px;
}

/* INVERTE A COR DO SVG PARA PRETO QUANDO ESTIVER NO MODO BRANCO */
[data-theme="light"] .back-start-icon__container img  {
  filter: invert();
}

/* FIM DOBRA BACK-START ICON */


/* INICIO DOBRA SIDE MENU */
.side-menu__container {
  height: 100vh;
  width: 80%;
  z-index: 500;

  background-color: var(--color-1);
  color: var(--color-2);

  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all .5s ease-in-out;
}

.side-menu__bt-close {
  width: 90%;
  height: 80px;
  margin-top: 18px;
  text-align: end;
}

.side-menu__bt-close img {
  height: 100%;
}

.side-menu__container > ul {
  color: var(--color-2);
  margin-left: 40px;
  margin-top: 60px;
}

.side-menu__container ul > li {
  list-style: none;
  min-height: 40px;
  padding: 15px;
}

.side-menu__container ul > li > a {
  color: var(--color-2);
  font-size: 20pt;
  text-decoration: none;
  cursor: pointer;
}

.side-menu__triangle-expand {
  margin-left: 20px;
}

.toggle-up {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}

.toggle-down {
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}

/* SUBMENU */

/* hidden para não vazar o conteúdo quando o elemento 
desaparecer */
.side-menu__container ul > li > ul {
  overflow: hidden;
  max-height: 800px;
  transition: max-height 0.5s ease-in-out;
}

/**
* classe que esconde o submenu
* pointer-events proibe o evento de clique
*/
.side-menu__container ul > li > ul.hide {
  max-height: 0;
  pointer-events: none;
}

.side-menu__container ul > li > ul > li {
  list-style: none;
  height: 8px;
}

.side-menu__container ul > li > ul > li > a {
  color: var(--color-2);
  font-size: 15pt;
  text-decoration: none;
  overflow: hidden;
}

.nav-menu__open-side-bar {
    display: none;
}
/* FIM DOBRA SIDE MENU */


/* INICIO DOBRA RESPONSIVIDADE */



/* FIM DOBRA RESPONSIVIDADE */
@media (max-width : 450px){

    .nav-menu__logo-wrapper{
        margin-top: 4px;
        margin-left: 11px;
    }

    .nav-menu__logo-wrapper__first-logo {
        width: 50px;
        height: 50px;
        padding: 6px;
    }

    [data-theme="light"] .nav-menu__logo-wrapper__first-logo {
        border: 1px solid var(--color-3);
    }

    .nav-menu__logo-wrapper__second-logo {
        margin-left: 5px;
        width: 140px;
        height: 30px;
    }

    .nav-menu__itens>li {
        display: none;
    }

    .nav-menu__toggle-layout_mode{
        margin-left: 72px;
    }

    .nav-menu__open-side-bar {
        background-color: transparent;
        margin-right: 25px;
        cursor: pointer;
        display: block;
    }

    [data-theme="light"] .nav-menu__open-side-bar img, [data-theme="light"] .side-menu__contato-list img, [data-theme="light"] .side-menu__projetos-list img {
        filter: invert();
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }

    /* icons invert color ex.: black to white */
    [data-theme="light"] .side-menu__bt-close img {
        filter: invert()
    }

}

/* INICIO DOBRA APRESENTAÇÃO  */

.banner__container {
  margin-top: 80px;
}

/* FIM DOBRA APRESENTAÇÃO */
